<div class="col-lg-8 col-md-7 col-sm-8 col-xs-12">
    <div class="row">
        <div class="middle_bar">
            <!-- giải trí -->
            <%include ./component/giaitri.ejs %>
            <!-- eva tám -->
            <%include ./component/eva.ejs %>
            <!-- đẹp -->
            <%include ./component/dep.ejs %>
            <!-- thời trang -->
            <%include ./component/thoitrang.ejs %>
            <!-- sức khỏe -->
            <%include ./component/suckhoe.ejs %>
            <!-- ẩm thực -->
            <%include ./component/amthuc.ejs %>
            <!-- tin tức -->
            <%include ./component/tintuc.ejs %>
            <!-- kinh nghiệm -->
            <%include ./component/kinhnghiem.ejs %>
        </div>
    </div>
</div>