<% layout('../layouts') -%>
<div class="latest_newsarea"> <span>Tin Mới Nhất</span>
    <ul id="ticker01" class="news_sticker">
       
    </ul>
</div>
<%include ../partials/slide%>
<section id="contentbody">
    <div class="row">
            <%include ../partials/content%>   
            <%include ../partials/right%>   
    </div>
</section>