<div class="modal fade" id="myModal<%=i.event_id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Sửa thể loại tin tức</h4>
            </div>
            <form action="/admin/sukien/sua/<%=i.event_id%>" method="post" accept-charset="utf-8">
                <div class="modal-body">
                        <input type="text" class="form-control" name="event_name" value="<%=i.event_name%>"> 
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default">Làm mới</button>
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>