<%include header%>
    <body>
        <div id="wrapper">
            <%include menu%>
            <div id="page-wrapper">
                
                
            </div>
        </div>
        <%include footer%>
    </body>